*{
    box-sizing: border-box;
} 



.item1{grid-area: header;} 
.item2{grid-area: navigation;}
.item3{grid-area: main;}
.item4{grid-area: text;}
.item5{grid-area: text;}
.item6{grid-area: footer;}
.item7{grid-area: footer;}
.item8{grid-area: footer;}

@media only screen and (min-width: 768px) {
  .item1 { grid-column: 1 / span 12; grid-row: 1; }
  .item2 { grid-column: 1 / span 6; grid-row: 2; }
  .item3 { grid-column: 7 / span 6; grid-row: 2; }
  .item4 { grid-column: 1 / span 3; grid-row: 3; }
  .item5 { grid-column: 4 / span 6; grid-row: 3; }
  .item6 { grid-column: 10 / span 3; grid-row: 3; }
  .item7 { grid-column: 1 / span 4; grid-row: 4; }
  .item8 { grid-column: 5 / span 8; grid-row: 4; }           
}
  
  html, body { 
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
  }


@page { margin: 100px 25px; }
    header { position: fixed top right; top: 0px; left: 0px; right: 0px; background-color: white; height: 175px; }
    p { page-break-after: always; }
    p:last-child { page-break-after: never; }

 /* footer */
 .footer {
   background: #303036;
   color: #d3d3d3;
   height: 400px;
   position: relative;
 }

 .footer .footer-content {
   border: 1px solid greenyellow;
   height: 350px;
   display: flex;
 }
 
.footer .footer-content .footer-section {
flex: 1;
padding: 25px;
border: 1px solid purple;
}

 .footer .footer-bottom {
   background: #343a40;
   color: #686868;
   height: 50px; 
   width: 100%;
   text-align: center; 
   position: absolute; 
   bottom: 0px; 
   left: 0px; 
   padding-top: 20px; 
 }

ul{
    float:right;
    list-style-type: none;  
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

.logo img{
    padding: 20px;
    float: center;
    width: 250px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50);
}

title h1{
    color: #000;
    font-size: 70px;
}

h5 {
  color: rgb(0, 0, 0);
  font-size: 100%;
 }

h5 {
 color: rgb(255, 0, 0);
 font-family:verdana;
 font-size: 250%;
}






table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
    text-align: center;
  }

  table#t01 {
    margin: 50px;
    width: 75%;
  
  }

  table#t01 th {
    color: white;
    background-color: black;
  }

  table#t01 tr:nth-child(even) {
    background-color: #f5db4b;
  }
  table#t01 tr:nth-child(odd) {
   background-color: rgb(240, 176, 80);
  }
  table#t01_image {
    background-color: white;   
  }