*{
    margin: 0px;
    font-family: Times New Roman;
    font-weight: bold;
} 
 
  
  body { 
    background: url("../images/Hintergund.jpg") repeat 0 0;
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
  }


@page { margin: 100px 25px; }
    header { position: fixed top right; top: 0px; left: 0px; right: 0px; background-color: white; height: 175px; }
    footer { position: fixed bottom right; bottom: 0px; left: 0px; right: 0px; background-color: white; text-align: center; height: 200px; }
    p { page-break-after: always; }
    p:last-child { page-break-after: never; }

ul{
    float:right;
    list-style-type: none;  
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a hover{
    background-color: rgb(209, 218, 85);
    color: "#000"
}

.logo img{
    padding: 20px;
    float: center;
    width: 250px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50);
}

title h1{
    color: #000;
    font-size: 70px;
}

h5 {
  color: rgb(0, 0, 0);
  font-size: 100%;
 }

h5 {
 color: rgb(255, 0, 0);
 font-family:verdana;
 font-size: 250%;
}






table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
    text-align: center;
  }

  table#t01 {
    margin: 50px;
    width: 75%;
  
  }

  table#t01 th {
    color: white;
    background-color: black;
  }

  table#t01 tr:nth-child(even) {
    background-color: #f5db4b;
  }
  table#t01 tr:nth-child(odd) {
   background-color: rgb(240, 176, 80);
  }
  table#t01_image {
    background-color: white;   
  }

  
