
@import url('https://fonts.googleapis.com/css?family=Poppins:20')
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans serif; 
  background: url('pi.png')
  background-attachment: fixed; 
}


*{
    box-sizing: border-box;
} 


.item1{grid-area: header;} 
.item2{grid-area: navigation;}
.item3{grid-area: main;}
.item4{grid-area: text;}
.item5{grid-area: text;}
.item6{grid-area: footer;}
.item7{grid-area: footer;}
.item8{grid-area: footer;}

@media only screen and (min-width: 768px) {
  .item1 { grid-column: 1 / span 12; grid-row: 1; }
  .item2 { grid-column: 1 / span 6; grid-row: 2; }
  .item3 { grid-column: 7 / span 6; grid-row: 2; }
  .item4 { grid-column: 1 / span 3; grid-row: 3; }
  .item5 { grid-column: 4 / span 6; grid-row: 3; }
  .item6 { grid-column: 10 / span 3; grid-row: 3; }
  .item7 { grid-column: 1 / span 4; grid-row: 4; }
  .item8 { grid-column: 5 / span 8; grid-row: 4; }           
}

  
  html, body { 
    height: 100%;
    padding: 0px;
    margin: 0px;
    background: #f6f6f6;
    font-family: 'Lora', serif;
  }

  img {
    width:100%;
    height:auto;
    position: center;
  }

  @media screen and (min-width:28em) {
    img {
      width:50%;
    }
  }
  
  @media screen and (min-width:50em) {
    img {
      width:33%;
    }
  }


@page { margin: 100px 25px; }
    /*header { position: fixed top right; top: 0px; left: 0px; right: 0px; background-color: white; height: 175px; }*/
    p { page-break-after: always; }
    p:last-child { page-break-after: never; }



/* Begin header --------------------------------------------------------------------------------------------------------*/


/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: orange;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: black;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

/* end header -----------------------------*/
title h1{
  color: #000;
  font-size: 70px;
}

h5 {
color: rgb(0, 0, 0);
font-size: 100%;
}

h5 {
color: rgb(255, 0, 0);
font-family:verdana;
font-size: 250%;
}

/* begin footer --------von https://medium.com/@solodev/how-to-add-a-responsive-footer-to-your-website-8b4d8fd79322---------------------*/


html,
body,
img,
figure {
    max-width: 100%
}html,
body {
    overflow-x: hidden;
    color: #000;
    -ms-overflow-style: scrollbar;
    -webkit-font-smoothing: antialiased
}a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit
}a {
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out
}.ct-u-paddingTop10 {
    padding-top: 10px !important
}.ct-footer {
    background-color: #111;
    padding-top: 70px;
    margin-top: 20px;
    position: relative;
}.ct-footer-pre {
    width: 100%;
    padding-bottom: 55px;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}@media (min-width:1200px) {
    .ct-footer-pre {
        display: table
    }
    .ct-footer-pre > .inner {
        display: table-cell;
        vertical-align: middle
    }
}@media (max-width:1199px) {
    .ct-footer-pre .form-group {
        padding-top: 15px
    }
}.ct-footer-pre span {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ebebeb;
    font-size: 30px
}@media (min-width:480px) {
    .ct-footer-pre .form-group button {
        top: -1px
    }
}@media (max-width:479px) {
    .ct-footer-pre .form-group input {
        float: left;
        width: 70%;
        margin: 0
    }
    .ct-footer-pre .form-group button {
        float: left;
        width: 30%
    }
}.ct-footer-list {
    padding: 50px 0;
    list-style: none;
    padding-left: 0;
    display: table;
    width: 100%;
    border-bottom: 1px solid #555;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}@media (max-width:479px) {
    .ct-footer-list {
        padding: 20px 0
    }
}@media (min-width:1200px) {
    .ct-footer-list > li {
        width: 20%;
        display: table-cell;
        vertical-align: top
    }
    .ct-footer-list > li:last-child {
        width: 7%
    }
}@media (min-width:768px) and (max-width:1199px) {
    .ct-footer-list > li {
        width: 33.3333%
    }
}@media (min-width:480px) and (max-width:767px) {
    .ct-footer-list > li {
        width: 50%
    }
}@media (max-width:479px) {
    .ct-footer-list > li {
        width: 100%;
        text-align: center
    }
}@media (max-width:1199px) {
    .ct-footer-list > li {
        display: inline-block;
        float: left
    }
}.ct-footer-list > li .ct-footer-list-header {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #ff9900;
    font-size: 30px
}.ct-footer-list > li ul {
    list-style: none;
    padding-left: 0;
}.ct-footer-list > li ul li a {
    color: rgb(100, 100, 100);
}.ct-footer-list > li ul li a:hover {
    text-decoration: underline
}.ct-footer-meta {
    padding-top: 30px;
}.ct-footer-meta .ct-socials {
    padding: 20px 0;
}.ct-footer-meta .ct-socials li {
    padding: 0 3px
}.ct-footer--with-button {
    padding-top: 150px
}address {
    color: rgb(100, 100, 100);
    display: inline-block;
}address span {
    font-weight: 600
}address a {
    color: rgb(100, 100, 100);
}address a:hover {
    text-decoration: underline
}@media (max-width:767px) {
    address {
        padding-top: 30px
    }
}.ct-mediaSection {
    background-attachment: fixed
}.ct-section_header--type1 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #000;
    font-size: 115px;
    text-transform: uppercase;
}@media (max-width:479px) {
    .ct-section_header--type1 {
        font-size: 60px;
        line-height: .8
    }
}.ct-section_header--type2 small {
    font-family: 'coquette', fantasy;
    font-size: 58px;
    line-height: .7;
    display: block;
    font-weight: 700;
    position: relative;
    left: -12px
}.ct-section_header--type2 span {
    font-family: 'Bebas Neue';
    font-size: 115px;
    line-height: .8
}.ct-section_header--type2 img {
    display: inline-block;
    float: left;
    position: relative;
    top: 15px;
    padding-right: 3px
}.ct-section_header--type3 {
    text-align: center;
}.ct-section_header--type3 small {
    font-family: 'coquette', fantasy;
    font-size: 50px;
    padding: 15px 0;
    font-weight: 700;
    color: #fff;
    background-image: url("/core/fileparse.php/16/urlt/../images/ribbon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block
}.ct-section_header--type3 span {
    font-family: 'Bebas Neue';
    font-size: 150px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: .85
}@media (max-width:479px) {
    .ct-section_header--type3 small {
        font-size: 25px
    }
    .ct-section_header--type3 span {
        font-size: 90px
    }
}.ct-section_header--type4 {
    text-align: center;
}.ct-section_header--type4:before,
.ct-section_header--type4:after {
    content: '';
    display: table
}.ct-section_header--type4:after {
    clear: both
}.ct-section_header--type4 small {
    font-family: 'coquette', fantasy;
    font-size: 50px;
    color: inherit;
    font-weight: 700;
    display: block
}.ct-section_header--type4 span {
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: 400;
    font-weight: bold;
    font-size: 150px;
    text-transform: uppercase;
    display: block;
    line-height: .7
}@media (max-width:479px) {
    .ct-section_header--type4 small {
        font-size: 40px
    }
    .ct-section_header--type4 span {
        font-size: 80px
    }
}.ct-section_header + p {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1.5px;
    text-align: center;
}@media (max-width:479px) {
    .ct-section_header + p {
        font-size: 22px
    }
}.ct-section_header--type4 + p {
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
}@media (max-width:479px) {
    .ct-section_header--type4 + p {
        font-size: 28px
    }
}

/* end footer -----------------------------*/


/* begin table -----------------------------*/

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 50px;
    text-align: center;
  }

  table#t01 {
    margin: 50px;
    width: 75%;
  
  }

  table#t01 th {
    color: orange;
    background-color: white;
  }

  table#t01 tr:nth-child(even) {
    background-color: rgb(247, 214, 152);
  }
  table#t01 tr:nth-child(odd) {
   background-color: rgba(255, 166, 0, 0.596);
  }
  table#t01_image {
    background-color: white;   
  }

/* end table -----------------------------*/

/* begin slideshow -----------------------------*/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 250px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: orange;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: rgb(255, 166, 0);
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* end slideshow -----------------------------*/




/* begin Formular -------------------------------------------------------------------------------------*/

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=mail], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=number], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=color], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: orange;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }