*{
    margin: 0px;
    font-family: Times New Roman;
} 
 
  
  body { 
    background: url("../images/Hintergund.jpg") repeat 0 0;
        background-repeat: no-repeat;
        background-position: right top;
        background-attachment: fixed;
  }

 header{
    height: 100vh;
}

ul{
    float:right;
    list-style-type: none;  
    margin-top: 25px;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a: hover{
    background-color: #fff;
    color: "#000"
}

ul li.active a{
    background-color: #fff;
    color: #fff;
}

.logo img{
    float: left;
    width: 150px;
    height: auto;
}

.main{
    max-width: 1200px;
    margin: auto;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50&);
}

.title h1{
    color: #000;
    font-size: 70px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  th, td {
    padding: 5px;
    text-align: center;
  }

  table#t01 {
    margin: 50px;
  }

  table#t01 th {
    color: white;
    background-color: black;
  }

  table#t01 tr:nth-child(even) {
    background-color: #f5db4b;
  }
  table#t01 tr:nth-child(odd) {
   background-color: rgb(240, 176, 80);
  }
  table#t01_image {
    background-color: white;   
  }
